body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
h2 {
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.container_login button {
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    
    
    
}
.container_login button:hover {
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    
    
}

.logo {
    width: 500px;
    top: 100px;
    margin-bottom: 90px;
    box-sizing: content-box;
}

.voltar {

    position: absolute;
    background-color: #f0f1f7;
    margin-top: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    top: 91%;
} 

.container_cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.container_cadastro button {
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    
    
}
.container_cadastro button:hover {
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    
    
}

@media (max-width: 600px) {
    .logo {
        width: 400px;
        top: 50px;
    }
    .container_login {
        width: 90%;
        height: auto;
        padding: 20px;
    }
     .container_cadastro     {
        width: 90%;
        height: auto;
        padding: 20px;
    }
}

@media (max-width: 400px) {
    .logo {
        width: 300px;
        top: 50px;
    }
    .container_login {
        width: 90%;
        height: auto;
        padding: 20px;
    }
     .container_cadastro     {
        width: 90%;
        height: auto;
        padding: 20px;
    }
}

@media (max-height: 800px) {
    .voltar {
        top: 93%;
    }
}
