@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
body {
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    background-color: #f5f8fa;
    color: #333;
    overflow-x: hidden;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}