/* sobre o Terrafone */
.sobre {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 40px;
}

.sobre-imagem img {
    width: 600px;
}

.sobre-texto h1 {
    font-size: 28px;
    margin-bottom: 16px;
}

.sobre-texto p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 12px;
}

.logo-texto {
    height: 32px;
    vertical-align: middle;
}

/*  o que oferecemos */
.oferecemos {
    padding: 40px;
}

.oferecemos h2 {
    font-size: 22px;
    margin-bottom: 24px;
    text-align: center;
}

.cards {
    display: flex;
    gap: 24px;
}
.cardForum{
    flex: 1;
    background-color: #133DDF;
    padding: 24px;
    border-radius: 4px;
    position: relative;
    color: white;
    overflow: hidden; /* para garantir que a imagem não ultrapasse os limites do card */
}
.cardCatalog{
    flex: 1;
    background-color: #F99C33;
    padding: 24px;
    border-radius: 4px; 
    position: relative;
    color: white;
    overflow: hidden; /* para garantir que a imagem não ultrapasse os limites do card */
}
.cardCatalog img {
    position: absolute; /* a imagem sai do fluxo normal */
    bottom: 0;
    right: 0;
    width: 200px;
    opacity: 0.1; /* deixa a imagem mais apagada pro texto aparecer */
    z-index: 0; /* fica atrás */

}
.cardForum img {
    position: absolute; /* a imagem sai do fluxo normal */
    top: 30px;
    right: 0;
    width: 200px;
    opacity: 0.15; /* deixa a imagem mais apagada pro texto aparecer */
    z-index: 0; /* fica atrás */
}
.cardForum p h3, .cardCatalog p h3 {
    position: relative; /* para ficar acima da imagem */
    z-index: 1;
    font-size: 20px;
    margin-bottom: 12px;
}

/* Botão */
.botao {
    display: inline-block;
    padding: 8px 16px;
    background-color: #133DDF;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 15px;
}

/* Seção de cadastro */
.cadastro {
    text-align: center;
    padding: 40px;
}

.cadastro p {
    font-size: 18px;
    margin-bottom: 16px;
}

@media(max-width: 768px) {
    .sobre {
        flex-direction: column;
        text-align: center;
    }
    .sobre-imagem img {
        width: 100%;
        max-width: 300px;
    }
    .cards {
        flex-direction: column;
    }

}

